* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 320px) and (max-width: 600px) {
  .list {
    list-style-type: none;
    overflow-y: auto;
    flex-grow: 1;
  }

  .list::-webkit-scrollbar {
    display: none;
  }

  /* styles from app.jsx */
  .home {

    background-color: rgb(113, 113, 190);
    height: 100vh;
    width: 100vw;

  }

  .sidebar {
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    z-index: 1;

  }

  .glist {
    width: 25vw;
    height: 60vh;
    background-color: white;
    color: black;
    padding: 20px;
    box-sizing: border-box;
  }

  .chat {
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position:absolute;
    z-index: 2;
  }

  .btn {
    /* position: fixed; */
    margin-left: auto;
    width: 100px;
    height: 100px;
    background-image: url('./images/Screenshot 2024-12-18 194849.png');
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
    text-indent: -9999px;
  }

  /* styles from create group popup */
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(70, 59, 59, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 90%;
    max-width: 400px;
  }

  /*styles from group list  */
  .groups-list {
    margin: 0;
    padding: 10px;
    height: 60vh;
    max-height: 60vh;
    display: flex;
    font-size: 30px;
    text-align: center;
  }

  .list1 {
    padding: 15px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }

  .list1:hover {
    background-color: lightgray;
  }

  /*styles from note list  */
  .chat-section {

    height: 74vh;
    background-color: blue;
    display: flex;
    flex-Direction: column;
    justify-Content: space-around;
  }

  .messages {
    background-color: LightGray;
    height: 57vh;
    max-height: 57vh;
    display: flex;
    flex-direction: column;
  }

  .mlist {
    background-color: white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    gap: 5px;
    padding: 20px;
    margin: 40px;
    border-radius: 8px;
    max-width: 90%;
    word-wrap: break-word;
    box-shadow: 12px 12px 7px 0px rgba(0, 0, 0, 0.1);
  }

  h6 {
    display: flex;
    flex-direction: row-reverse;
  }

  /* styles from new note */
  .new-note-section {
    padding: 10px;
    Height: 25vh;
    width: 70vw;
    margin-bottom: 10px;
    background-color: blue;
    display: flex;
  }

  .notediv {
    background-color: white;
    border-Radius: 15px;
    width: 75vw;
  }

  .txtnote {
    padding: 10px;
    Height: 20vh;
    width: 62vw;
    background-color: white;
    overflow-y: auto;
    border: none;
    outline: none;
    border-radius: 15px;
  }


  .notebtn {
    width: 50px;
    height: 50px;
    /* background-image: url('./components/images/enter\ icon.jpg');
  background-size: cover;
  background-position: center;
  cursor: pointer;
  background-repeat: no-repeat; */


  }


}

@media (min-width: 600px) and (max-width: 1024px) {
  .list {
    list-style-type: none;
    overflow-y: auto;
    flex-grow: 1;
  }

  .list::-webkit-scrollbar {
    display: none;
  }

  /* styles from app.jsx */
  .home {

    background-color: rgb(113, 113, 190);
    height: 100vh;
    width: 100vw;
    display: flex;
  }

  .sidebar {
    flex: 1;
    height: 100vh;
    width: 25vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .glist {
    width: 25vw;
    height: 60vh;
    background-color: white;
    color: black;
    padding: 20px;
    box-sizing: border-box;
  }

  .chat {
    flex: 2;
    background-image: url('./images/Screenshot 2024-12-18 194412.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 75vw;
    display: flex;
    flex-direction: column;
  }

  .btn {
    /* position: fixed; */
    margin-left: auto;
    width: 100px;
    height: 100px;
    background-image: url('./images/Screenshot 2024-12-18 194849.png');
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
    text-indent: -9999px;
  }

  /* styles from create group popup */
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(70, 59, 59, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 90%;
    max-width: 400px;
  }

  /*styles from group list  */
  .groups-list {
    margin: 0;
    padding: 10px;
    height: 60vh;
    max-height: 60vh;
    display: flex;
    font-size: 30px;
    text-align: center;
  }

  .list1 {
    padding: 15px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }

  .list1:hover {
    background-color: lightgray;
  }

  /*styles from note list  */
  .chat-section {

    height: 74vh;
    background-color: blue;
    display: flex;
    flex-Direction: column;
    justify-Content: space-around;
  }

  .messages {
    background-color: LightGray;
    height: 57vh;
    max-height: 57vh;
    display: flex;
    flex-direction: column;
  }

  .mlist {
    background-color: white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    gap: 5px;
    padding: 20px;
    margin: 40px;
    border-radius: 8px;
    max-width: 90%;
    word-wrap: break-word;
    box-shadow: 12px 12px 7px 0px rgba(0, 0, 0, 0.1);
  }

  h6 {
    display: flex;
    flex-direction: row-reverse;
  }

  /* styles from new note */
  .new-note-section {
    padding: 10px;
    Height: 25vh;
    width: 70vw;
    margin-bottom: 10px;
    background-color: blue;
    display: flex;
  }

  .notediv {
    background-color: white;
    border-Radius: 15px;
    width: 75vw;
  }

  .txtnote {
    padding: 10px;
    Height: 20vh;
    width: 62vw;
    background-color: white;
    overflow-y: auto;
    border: none;
    outline: none;
    border-radius: 15px;
  }


  .notebtn {
    width: 50px;
    height: 50px;
    /* background-image: url('./components/images/enter\ icon.jpg');
    background-size: cover;
    background-position: center;
    cursor: pointer;
    background-repeat: no-repeat; */


  }
}


@media (min-width: 1024px) {
  .list {
    list-style-type: none;
    overflow-y: auto;
    flex-grow: 1;
  }

  .list::-webkit-scrollbar {
    display: none;
  }

  /* styles from app.jsx */
  .home {

    background-color: rgb(113, 113, 190);
    height: 100vh;
    width: 100vw;
    display: flex;
  }

  .sidebar {
    flex: 1;
    height: 100vh;
    width: 25vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .glist {
    width: 25vw;
    height: 60vh;
    background-color: white;
    color: black;
    padding: 20px;
    box-sizing: border-box;
  }

  .chat {
    flex: 2;
    background-image: url('./images/Screenshot 2024-12-18 194412.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 75vw;
    display: flex;
    flex-direction: column;
  }

  .btn {
    /* position: fixed; */
    margin-left: auto;
    width: 100px;
    height: 100px;
    background-image: url('./images/Screenshot 2024-12-18 194849.png');
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
    text-indent: -9999px;
  }

  /* styles from create group popup */
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(70, 59, 59, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 90%;
    max-width: 400px;
  }

  /*styles from group list  */
  .groups-list {
    margin: 0;
    padding: 10px;
    height: 60vh;
    max-height: 60vh;
    display: flex;
    font-size: 30px;
    text-align: center;
  }

  .list1 {
    padding: 15px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }

  .list1:hover {
    background-color: lightgray;
  }

  /*styles from note list  */
  .chat-section {

    height: 74vh;
    background-color: blue;
    display: flex;
    flex-Direction: column;
    justify-Content: space-around;
  }

  .messages {
    background-color: LightGray;
    height: 57vh;
    max-height: 57vh;
    display: flex;
    flex-direction: column;
  }

  .mlist {
    background-color: white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    gap: 5px;
    padding: 20px;
    margin: 40px;
    border-radius: 8px;
    max-width: 90%;
    word-wrap: break-word;
    box-shadow: 12px 12px 7px 0px rgba(0, 0, 0, 0.1);
  }

  h6 {
    display: flex;
    flex-direction: row-reverse;
  }

  /* styles from new note */
  .new-note-section {
    padding: 10px;
    Height: 25vh;
    width: 70vw;
    margin-bottom: 10px;
    background-color: blue;
    display: flex;
  }

  .notediv {
    background-color: white;
    border-Radius: 15px;
    width: 75vw;
  }

  .txtnote {
    padding: 10px;
    Height: 20vh;
    width: 62vw;
    background-color: white;
    overflow-y: auto;
    border: none;
    outline: none;
    border-radius: 15px;
  }


  .notebtn {
    width: 50px;
    height: 50px;
    /* background-image: url('./components/images/enter\ icon.jpg');
  background-size: cover;
  background-position: center;
  cursor: pointer;
  background-repeat: no-repeat; */


  }
}